/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'EliceDigitalCoding_Regular';
	src: url('EliceDigitalCoding_Regular.woff') format('woff');
}
@font-face{
	font-family: 'Tomorrow_';
	src: url('Tomorrow-Medium.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'Tomorrow_R';
	src: url('Tomorrow-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

/*-------------------------------*/

* {margin: 0; padding: 0;}
body{background: #000826;
	cursor : url("mouse1.png"), default;
		}
video{ width: 100%; height: }
.video{
	position: fixed; top: 0; 
	width: 100%; 
	z-index: -2; min-width: 178vh;
}
.contents{
	width: 1400px; 
	position: relative;  
	margin: 100px auto; 
	height: 100%; 
	background: #000826;
}
.contents2{
	position: absolute; width: 1400px; height: 100%;
	top: 0; left: 50%; 
}

.sub_frame{	
	width: 1400px; height: 1000px;
	background: url("sub_bg2.png") no-repeat center;
	background-size: 1400px;
	margin: 0 auto;
}

.sub_txt{
	color: white;
}

/* 서브페이지 absolute div ------------------------------*/
.sub_title_frame{
	width: 1300px; height: 50px;
    margin: 0 auto; 
    display: flex;

}
/*회전 로고 --------------------------------------*/
.rot_logo{
	width: 184px; height: 184px;
	animation: rotate_image 6s linear infinite; 
    transform-origin: 50% 50%;
    margin-top: 48px; margin-left: -20px;
}
@keyframes rotate_image{100%
   {transform: rotate(360deg);}
        }

/*타이틀텍스트 --------------------------------------*/
.title-txt{
	color: #b3fffb;
	font-size: 32px;
}
.glow {
  font-family: 'Tomorrow_', sans-serif;
  	font-style: italic;
	font-weight: 500;
  font-size: 36px;
  text-decoration: none;
  color: #9bfffb;
  padding-left: 10px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0126c1, 0 0 40px #0126c1, 0 0 50px #0126c1, 0 0 60px #0126c1, 0 0 70px #0126c1;
  }
  to {
    text-shadow: 0 0 13px #fff, 0 0 23px #b3fffb, 0 0 33px #b3fffb, 0 0 43px #b3fffb, 0 0 53px #b3fffb, 0 0 63px #b3fffb, 0 0 73px #b3fffb;
  }
}


.sub_title{
    display: block;
    margin: 0px 40px 0px 40px;
    padding: 40px 0px 0px 20px;
}



/*------------------탭메뉴*/
p{font-size: 30px;}


.tabmenu {
    font-size: 0; 
    width: 1300px; height: 800px;
    margin: 0 auto; padding-top: 50px;
}



.tabmenu input[type="radio"] {
    display: none;
}

.tabmenu label {
    display: inline-block;
    width: 33%;
    padding: 7px 0;
    color: #9bfffb;
    text-align: center;
    font-size: 20px;
    cursor : url("mouse2.png"), auto;
    font-family: 'Tomorrow', sans-serif;
	font-weight: 400; font-size: 22px;
	line-height: 22px; margin-top: 14px;
}
.tabmenu label:hover{
	  color: #fff;
  	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.tabmenu label:nth-of-type(1) {
    width: 170px; margin-left: 630px;margin-right: 60px;
}
.tabmenu label:nth-of-type(2) {
    width: 170px; margin-right: 60px;
}
.tabmenu label:nth-of-type(3) {
    width: 170px; margin-right: 30px;
}

.tabmenu > div {
    display: none;
    min-height: 300px;
    padding: 20px;
    color: #fff;
}

/* 탭1이 선택되면 탭 영역이 금색으로 바뀌어야 해 */
.tabmenu input[type="radio"]:checked + label {
    background: #9bfffb; color: #000b3c;
}


.tabmenu #tab1:checked ~ #cont1,
.tabmenu #tab2:checked ~ #cont2,
.tabmenu #tab3:checked ~ #cont3 {
}

/* 탭이 선택되면 해당하는 내용이 보여야 해 */

.tabmenu #tab1:checked ~ #cont1 {
    display: block;
    height: 500px; 
    overflow: scroll;
    padding: 50px;
    margin: 120px 40px 0px 40px;
}

.tabmenu #tab2:checked ~ #cont2 {
    display: block;
    height: 500px; 
    overflow: scroll;
    padding: 50px;
    margin: 120px 40px 0px 40px;
}

.tabmenu #tab3:checked ~ #cont3 {
    display: block;
    height: 500px; 
    overflow: scroll;
    padding: 50px;
    margin: 120px 40px 0px 40px;
}

/*----------탭 내용 폰트스타일--------------*/
.situation_tit{
	font-family: 'EliceDigitalCoding_Regular';
    font-style: normal; color:#9bfffb;
    font-size: 20px;
    padding-bottom: 20px;
}
.tap_txt{
	font-family: 'NanumSquare';
	font-weight: 300; color:#9bfffb;
	font-style: normal; font-size: 16px;
	line-height: 30px;
}
.tap_img_tit{
	font-family: 'EliceDigitalCoding_Regular';
	font-style: normal; color:#9bfffb;
    font-size: 25px; letter-spacing: -4px;
    padding-top: 70px;
    text-align: center;
}

.moreinfo_tit{
		font-family: 'EliceDigitalCoding_Regular';
	font-style: normal; color:#9bfffb;
    font-size: 25px; letter-spacing: -4px;
    
    text-align: center;
    padding: 30px 0;
}
.moreinfo_tit:hover{
	  color: #fff;
  	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.tapC_box > .tap_txt {text-align: center;}
#cont3 > .tapC_box {margin-bottom: 50px; padding-left: 70px; padding-right: 70px;}


/*----------탭내용 1--------------*/
.tap_img_div{margin: auto; margin-top: 30px;
	width: 1100px; height: 790px;
	background-image: url("worldmap.png");
	background-size: 100%;
}

/*>>>>>>탭내용 1<<<<<<<<<<<<<<<<<*/


/*----------탭내용 2--------------*/

/*>>>>>>탭내용 2<<<<<<<<<<<<<<<<<*/


/*----------탭내용 3--------------*/

/*>>>>>>탭내용 3<<<<<<<<<<<<<<<<<*/

/*----------에러 팝업-------------------------------*/
.map_eng{top: 212px; left: 497px; /*영국버튼위치 */}
.map_bang{top: 288px; left: 758px; /*방글버튼위치 */}
.map_chn{top: 256px; left: 835px; /*중국버튼위치 */}
.map_ind{top: 318px; left: 826px; /*인니버튼위치 */}
.map_gmn{top: 145px; left: 537px; /*독일버튼위치 */}


/*맵버튼 크기 */
.map_button{margin: 0 !important; padding: 0;
width: 12px !important;
height: 12px !important;}
.error_txt{
	font-family: 'EliceDigitalCoding_Regular';
	font-style: normal; color:white;
    font-size: 22px; letter-spacing: -5px;
    line-height: 35px;
    padding-top: 400px;
    text-align: center;
}

.error_plus{
	font-family: 'NanumSquare';
	font-weight: 300; color:#white; opacity: 50%;
	font-style: normal; font-size: 16px;
	line-height: 30px;
	text-align: center; padding-top: 50px;
}
.popup_close{
	font-family: 'EliceDigitalCoding_Regular'!important;
	font-style: normal; color:white !important;
    font-size: 35px !important; 
    padding-top: 60px !important;
    padding-right: 115px !important;
    margin: 0 !important;
    text-align: center;
    opacity: 100% !important;
}


/*팝업영국 css*/
	#layerPopup {
	    display: none;
	}

	#layerPopup + label {
	    display:inline-block;
	    position: relative;
	    
	    padding: 4px 4px;
	    background:#9bfffb; border-radius: 50%;
	    color:#fff;
	    cursor: pointer;
	    opacity: 0; /*이거 0으로 바꾸면 돼 */
	}


	/*버튼 호버 글로우 */
	#layerPopup + label:hover{box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9bfffb,
	    0 0 82px #9bfffb, 0 0 92px #9bfffb, 0 0 102px #9bfffb, 0 0 151px #9bfffb;
	opacity: 100%; 
	cursor : url("mouse2.png") 20 0, auto;
	}


	#layer_bg {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    
	}

	#layer_bg > #popup {
	    position:absolute;
	    padding:15px;
	    box-sizing:border-box;
	    border-radius:15px; 
	    /*팝업위치 */
	    top:15%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    width:1000px;
	    height:730px;
	     background-image: url("error.png"); 
	     background-size: 100%;
	     margin-top: 50px;
	}

	#layer_bg > #popup > h2 > label {
	    float: right;
	    cursor : url("mouse2.png") 20 0, auto;

	}

	#layerPopup:checked + label + #layer_bg {
	    display:block;
	}
/*2팝업방글 css*/
	#layerPopup2 {
	    display: none;
	}

	#layerPopup2 + label {
	    display:inline-block;
	    position: relative;
	    padding: 4px 4px;
	    background:#9bfffb; border-radius: 50%;
	    color:#fff;
	    cursor: pointer;
	    opacity: 0; /*이거 0으로 바꾸면 돼 */
	}


	/*버튼 호버 글로우 */
	#layerPopup2 + label:hover{box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9bfffb,
	    0 0 82px #9bfffb, 0 0 92px #9bfffb, 0 0 102px #9bfffb, 0 0 151px #9bfffb;
	opacity: 100%; cursor : url("mouse2.png") 20 0, auto;
	}


	#layer_bg2 {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    
	}

	#layer_bg2 > #popup2 {
	    position:absolute;
	    padding:15px;
	    box-sizing:border-box;
	    border-radius:15px; 
	    /*팝업위치 */
	    top:15%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    width:1000px;
	    height:730px;
	     background-image: url("error.png"); 
	     background-size: 100%;
	     margin-top: 50px;
	}

	#layer_bg2 > #popup2 > h2 > label {
	    float: right;
	    cursor : url("mouse2.png") 20 0, auto;

	}

	#layerPopup2:checked + label + #layer_bg2 {
	    display:block;
	}
/*3팝업중국 css*/
	#layerPopup3 {
	    display: none;
	}

	#layerPopup3 + label {
	    display:inline-block;
	    position: relative;
	    padding: 4px 4px;
	    background:#9bfffb; border-radius: 50%;
	    color:#fff;
	    cursor: pointer;
	    opacity: 0; /*이거 0으로 바꾸면 돼 */
	}


	/*버튼 호버 글로우 */
	#layerPopup3 + label:hover{box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9bfffb,
	    0 0 82px #9bfffb, 0 0 92px #9bfffb, 0 0 102px #9bfffb, 0 0 151px #9bfffb;
	opacity: 100%; cursor : url("mouse2.png") 20 0, auto;
	}


	#layer_bg3 {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    
	}

	#layer_bg3 > #popup3 {
	    position:absolute;
	    padding:15px;
	    box-sizing:border-box;
	    border-radius:15px; 
	    /*팝업위치 */
	    top:15%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    width:1000px;
	    height:730px;
	     background-image: url("error.png"); 
	     background-size: 100%;
	     margin-top: 50px;
	}

	#layer_bg3 > #popup3 > h2 > label {
	    float: right;
	    cursor : url("mouse2.png") 20 0, auto;

	}

	#layerPopup3:checked + label + #layer_bg3 {
	    display:block;
	}
/*4팝업인도네시아 css*/
	#layerPopup4 {
	    display: none;
	}

	#layerPopup4 + label {
	    display:inline-block;
	    position: relative;
	    padding: 4px 4px;
	    background:#9bfffb; border-radius: 50%;
	    color:#fff;
	    cursor: pointer;
	    opacity: 0; /*이거 0으로 바꾸면 돼 */
	}


	/*버튼 호버 글로우 */
	#layerPopup4 + label:hover{box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9bfffb,
	    0 0 82px #9bfffb, 0 0 92px #9bfffb, 0 0 102px #9bfffb, 0 0 151px #9bfffb;
	opacity: 100%;cursor : url("mouse2.png") 20 0, auto;
	}


	#layer_bg4 {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    
	}

	#layer_bg4 > #popup4 {
	    position:absolute;
	    padding:15px;
	    box-sizing:border-box;
	    border-radius:15px; 
	    /*팝업위치 */
	    top:15%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    width:1000px;
	    height:730px;
	     background-image: url("error.png"); 
	     background-size: 100%;
	     margin-top: 50px;
	}

	#layer_bg4 > #popup4 > h2 > label {
	    float: right;
	    cursor : url("mouse2.png") 20 0, auto;

	}

	#layerPopup4:checked + label + #layer_bg4 {
	    display:block;
	}
/*5팝업독일 css*/
	#layerPopup5 {
	    display: none;
	}

	#layerPopup5 + label {
	    display:inline-block;
	    position: relative;
	    padding: 4px 4px;
	    background:#9bfffb; border-radius: 50%;
	    color:#fff;
	    cursor: pointer;
	    opacity: 0; /*이거 0으로 바꾸면 돼 */
	}


	/*버튼 호버 글로우 */
	#layerPopup5 + label:hover{box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #9bfffb,
	    0 0 82px #9bfffb, 0 0 92px #9bfffb, 0 0 102px #9bfffb, 0 0 151px #9bfffb;
	opacity: 100%; cursor : url("mouse2.png") 20 0, auto;
	}


	#layer_bg5 {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	    
	}

	#layer_bg5 > #popup5 {
	    position:absolute;
	    padding:15px;
	    box-sizing:border-box;
	    border-radius:15px; 
	    /*팝업위치 */
	    top:15%;
	    left:50%;
	    transform:translate(-50%, -50%);
	    width:1000px;
	    height:730px;
	     background-image: url("error.png"); 
	     background-size: 100%;
	     margin-top: 50px;
	}

	#layer_bg5 > #popup5 > h2 > label {
	    float: right;
	    cursor : url("mouse2.png") 20 0, auto;

	}

	#layerPopup5:checked + label + #layer_bg5 {
	    display:block;
	}

/*나라이름마크*/
	.naraname{
		position: relative;
		display: inline-block;
	}
	.eng_p{
		position: absolute; width: 120px; height: 120px;
		left: 447px; top: 17px;
		opacity: 0;}
	.eng_p:hover{opacity: 100%;}
	.gmn_p{
		position: absolute; width: 120px; height: 120px;
		left: 486px; top: 30px;
		opacity: 0;}
	.gmn_p:hover{opacity: 100%;}
	.bng_p{
		position: absolute; width: 120px; height: 120px;
		left: 708px; top: 115px;
		opacity: 0;}
	.bng_p:hover{opacity: 100%;}
	.chn_p{
		position: absolute; width: 120px; height: 120px;
		left: 785px; top: 100px;
		opacity: 0;}
	.chn_p:hover{opacity: 100%;}
	.ind_p{
		position: absolute; width: 120px; height: 120px;
		left: 775px; top: 180px;
		opacity: 0;}
	.ind_p:hover{opacity: 100%;}


/*tap C -------------------------------------*/

details{
	font-family: 'EliceDigitalCoding_Regular';
	font-style: normal; color:white;
    font-size: 18px; padding-left: 24px;
    line-height: 35px;
}
details[open] summary{
	font-size: 25px; padding-bottom: 15px; color:#9bfffb;
}
summary{
	font-size: 25px; color:#9bfffb;
}
summary:hover{
	  color: #fff;
  	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.toggle{padding-top: 100px; padding-bottom: 100px;
margin-left: 390px;}
.toggle:hover{cursor : url("mouse2.png") 20 0, auto;}
.tapC_box{
	background: #000826; border: 1px solid;
	color: #9bfffb; padding: 20px; margin-top: 30px;
	margin-bottom: 90px;
}



/*tap 섹션*/
a{text-decoration: none; color: #9bfffb;
cursor : url("mouse2.png"), auto;}
.tapA_sn{
	background: #000826;
	width: 1400px; height: 1000px;margin: auto;

}
.tapA_info_tt{
	padding-left: 100px; padding-top: 90px;
	z-index: 1;
	position: relative;
}
.tapA_info_title{
	font-family: 'EliceDigitalCoding_Regular';
	font-style: normal; color:#9bfffb;
    font-size: 40px; letter-spacing: -4px;
    z-index: 2;
    position: absolute; top: 117px; left: 190px;
}
.tapA_data{
	width: 1100px; height: 800px;
	padding: 20px 120px; 
}
.Adata_t{
	color: #9bfffb; font-family: 'NanumSquare'; 
	font-weight: 500; font-size: 22px; margin: 0;
	line-height: 80px;
}
.Adata_t:hover{
	  color: #fff;
  	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.Adata_tt{
	color: #9bfffb; font-family: 'NanumSquare'; 
	font-weight: 300; font-size: 18px; 
	padding-left: 30px; padding-bottom: 50px; 
	line-height: 30px;
}

/* -----------------footer------------ */
.s_footer{
	width: 1400px; height: 375px; margin: auto;
	background: #000826;
	padding-top: 60px; 
}
.footer_bg{
	display: flex;
	 height: 245px;
	background: url("footer.png") 
	no-repeat center;
	background-size: 1340px; 
	margin-bottom: 100px;
	padding-bottom: 100px;
	padding-left: 150px; padding-right: 30px;
}
.footer_txt{}
.col_f1{
	
	width: 20%; height: 100%;color: #9bfffb;
	padding-top: 130px;
}
.col_f2{
	
	width: 80%; height: 100%; color: #9bfffb;
	padding-top: 130px;
}

.col_f1 > img{width: 55%; padding-bottom: 10px;}
.footer_tit{font-family: 'Tomorrow_', sans-serif;
font-size: 19px; padding-top: 80px;
padding-left: 140px;}

/*glitch----------------------------------------------*/
.tapC_img{
	width: 100%; display: inline-block; text-align: center;
	padding-top: 90px; padding-bottom: 30px;}
.tapC_img > img{width: 640px;}


.tapC_glitch{
	width: 640px; margin: 0 auto;
	padding-top: 90px; padding-bottom: 30px;}
.tapC_glitch > img{width: 640px;}

	.glitch {
		position: relative;
		overflow: hidden;
	}
	.glitch img {
		position: relative;
		z-index: 1;
		display: block;
	}
	.glitch__layers {
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.glitch__layer {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	
		background-repeat: no-repeat;
		background-position: 0 0;
	}
/*글리치 백그라운드 이미지 */
	#fish{background-image: url("fish.jpg");}
	#hot{background-image: url("hot.jpg");}
	#airc{background-image: url("airc.png");}
	#mart{background-image: url("mart.jpg");}
	#peach{background-image: url("peach.jpg");}
/*>>글리치백그라운드 이미지 ---------*/

	.glitch__layer:nth-child(1) {
		transform: translateX(-5%);
		animation: glitch-anim-1 2s infinite linear alternate;
	}
	.glitch__layer:nth-child(2) {
		transform: translateX(3%) translateY(3%);
		animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
	}
	.glitch__layer:nth-child(3) {
		transform: translateX(5%);
		animation: glitch-anim-flash 1s infinite linear;
	}
	@keyframes glitch-anim-1 {
		0% {
			clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
		}
		10% {
			clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		}
		20% {
			clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		}
		30% {
			clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		}
		40% {
			clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
		}
		50% {
			clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
		}
		60% {
			clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
		}
		70% {
			clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		}
		80% {
			clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		}
		90% {
			clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		}
		100% {
			clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
		}
	}
	@keyframes glitch-anim-2 {
		0% {
			clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
		}
		15% {
			clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		}
		25% {
			clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
		}
		30% {
			clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		}
		45% {
			clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
		}
		50% {
			clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
		}
		65% {
			clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		}
		75% {
			clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		}
		80% {
			clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
		}
		95% {
			clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
		}
		100% {
			clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
		}
	}
	@keyframes glitch-anim-flash {
		0% {
			opacity: .2;
		}
		30%, 100% {
			opacity: 0;
		}
	}
